---
import MainLayout from "../layouts/MainLayout.astro";
---	

<MainLayout title = "About" isIndex={false}>
	<div class="avatar items-center gap-2">
		<div class="w-60 rounded-full">
		  <img
			src="https://live.staticflickr.com/65535/52845885269_492c5c3ec2.jpg"
			width="455"
			height="429"
			alt="Hans Figo blog the blog author avatar"
		  />
		</div>
	  </div>
	<h1 class="text-4xl font-bold">Figo Mager</h1>
	<h3 class="text-xl text-primary hover:text-primary-focus font-semibold">@hans.figo</h3>
	<br>
	<p class="text-xl text-secondary">I'm just newbie developer that love building app using newest tech like this blog example, i build it because i wanna try Astro. Already married with Javascript and Dart. i dont watch anime more, but i'm still update to the lastest anime news. i just dont see any anime that fit my genre anymore. Lets be friend </p>
</MainLayout>

