---
import MainHead from "../layouts/MainHead.astro"
import MainLayout from "../layouts/MainLayout.astro";
---	


<MainLayout title = "About">
	<h1 class="text-5xl font-bold">Hello you can call me Figo or whatever.</h1>
	<p class="text-xl">I just love building things using programming language. i also like anime, even i dont watch it any more. lets be friend </p>
</MainLayout>

