---
import { log } from "astro/dist/core/logger/core";
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection, } from 'astro:content';
const allBlogPosts = await getCollection('blog');
const blogQuerry =( await getCollection('blog')).filter(blog => blog.data.title.toLowerCase().includes('kill me'.toLocaleLowerCase().trim()));

console.log(blogQuerry);


---
<script>

</script>

<MainLayout title="Home">
	<h1 class="text-5xl font-bold">Welcome to My Blog</h1>
	<br>
		<p>
			Hello i'm Figo. this is just my blog post where i share anything especially my hobby
		</p>
		<br><br>
		<h2>Recent Blog : </h2>
		{allBlogPosts.map(blog => (
			<a href={`/posts/${blog.slug}`}><li>{blog.data.title}</li></a>
			))
		}
</MainLayout>
