---
import "../global.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
	<h1 class="text-4xl">Welcome to My Blog</h1>
	<div>
		<h3>My card</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
			delectus odio voluptate incidunt inventore, molestias possimus
			deleniti totam distinctio, quibusdam eius! Sint quidem ab libero
			neque nam doloremque atque sequi.
		</p>
	</div>
</MainLayout>
