---
import "../global.css";
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection, getEntryBySlug } from 'astro:content';
const allBlogPosts = await getCollection('blog');

---

<MainLayout title="Home">
	<h1 class="text-4xl ">Welcome to My Blog</h1>
	<div>
		<h3>My card</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
			delectus odio voluptate incidunt inventore, molestias possimus
			deleniti totam distinctio, quibusdam eius! Sint quidem ab libero
			neque nam doloremque atque sequi.
		</p>
	</div>

	<br><br>
	<ul>

		{allBlogPosts.map(blog => (
			<a href={`/posts/${blog.slug}`}><li>{blog.data.title}</li></a>
			))
			
		}
		</ul>


</MainLayout>
