<!-- <script>
    import { themeData } from "../themeStore";

    const toggle = document.getElementById("toggle");

    toggle!.addEventListener("click", () => {
        themeData.set(false);
        console.log(themeData);
    });

    const nav = document.getElementById("nav");
    let oldValue = 0;

    onscroll = (event) => {
        let newValue = window.pageYOffset || document.documentElement.scrollTop;

        if (oldValue - newValue < 0) {
            nav!.classList.add("top-[-4rem]");
        } else if (oldValue - newValue > 0) {
            setTimeout(() => {
                nav!.classList.remove("top-[-4rem]");
            }, 100);
        }
        oldValue = newValue;
    };
</script> -->

<nav
    id="nav"
    class="navbar fixed z-30 top-0 shadow-sm transition-all duration-300 bezier bg-base-100"
>
    <div class="flex-1">
        <a
            href="/"
            class="btn btn-ghost text-primary normal-case font-black text-2xl"
            >HnzBlog</a
        >
    </div>
    <div class="flex-none">
        <ul class="menu items-center menu-horizontal">
            <li><a class="px-3 md:px-6" href="/">Home</a></li>
            <li>
                <a class="px-3 md:px-6" href="/about">About Me</a>
            </li>
            <input id="btn" type="checkbox" class="toggle toggle-accent mr-4" />
        </ul>
    </div>
</nav>

<style>
    .bezier {
        transition-timing-function: cubic-bezier(0.17, 0.67, 0.44, 0.92);
    }
</style>
