<nav class="flex justify-between">
    <h1 class="text-xl">HnzLab</h1>
    <div>
        <ul class="flex gap-4">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</nav>