<script>
    import { HtmlTag } from "svelte/internal";

    const url = "https://api.waifu.im/search/?included_tags=oppai";
    const fetchImage = await fetch(url).then((e) => e.json());

    const img = document.getElementById("anime") as HTMLImageElement;
    const cardImg = document.getElementById("anime");
    const btn = document.getElementById("waifuBtn");
    const tag = document.getElementById("tag");
    const cardTitle = document.getElementById("card-title");

    img!.src = fetchImage.images[0].url;
    cardTitle!.innerHTML = `Random Waifu #${fetchImage.images[0].image_id}`;

    const tags = fetchImage.images[0].tags;

    let tagList: string = "";

    tags.map((e: any) => {
        console.log(e.name);
        tagList += ` <div class="badge badge-secondary">${e.name}</div>`;
    });

    tag!.innerHTML = tagList;

    btn!.addEventListener("click", async () => {
        const fetchImage = await fetch(url).then((e) => e.json());

        img!.src = fetchImage.images[0].url;

        btn!.classList.add("loading");
        btn!.setAttribute("disabled", "disabled");

        cardImg!.onload = () => {
            const tags = fetchImage.images[0].tags;
            cardTitle!.innerHTML = `Random Waifu #${fetchImage.images[0].image_id}`;


            let tagList: string = "";

            tags.map((e: any) => {
                console.log(e.name);
                tagList += ` <div class="badge badge-secondary">${e.name}</div>`;
            });

            tag!.innerHTML = tagList;
            btn!.classList.remove("loading");
            btn!.removeAttribute("disabled");
        };
    });
</script>

<style>
    .parent-card:hover .child-parent {
        @apply translate-y-[-50px]
        /* top: 0px;
        transition: all 300ms ease-in-out;
        opacity: 1; */;
    }
</style>

<section
    class="hidden xl:block parent-card transition-all duration-300 ease-in-out"
>
    <!-- <h2
        class="child-parent absolute text-xl space-y-5 right-[-240px] top-12 opacity-0 transition-all duration-300 ease-in-out font-black"
    >
        Random Anime <br /> Photos
    </h2> -->
    <section
        class="top-0 max-w-[240px] right-[-260px] translate-y-14 absolute z-10"
    >
        <section
            class="h-full hover:rotate-12 pb-8 relative z-10 transition-all duration-300 ease-in-out overflow-hidden px-6 pt-6 rounded-md bg-neutral-content shadow-md"
        >
            <div class="flex gap-4 h-full flex-col justify-between">
                <img
                    id="anime"
                    alt="Random Anime Image"
                    class="w-full rounded-md"
                />
                <p id="card-title" class="font-bold">Rand Waifu</p>

                <div id="tag" class="flex gap-2 flex-wrap"></div>

                <div class="flex justify-end">
                    <button id="waifuBtn" class="btn btn-primary">Next</button>
                </div>
            </div>
        </section>
        <!-- <h2 class="child-parent z-0  translate-y-[0px] transition-all duration-300 ease-out absolute font-bold text-lg">Waifu Card</h2> -->
    </section>
</section>
