---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import MainHead from "./MainHead.astro";
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} />
	</head>
	<body class="flex justify-center items-center">
		<div class="container">
			<Navbar/>
			<slot />
			<Footer/>
		</div>
		</body>
</html>
