---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import MainHead from "./MainHead.astro";
const { title } = Astro.props;
---

<html data-theme="cupcake" lang="en">
	<head>
		<MainHead title={title} />
	</head>
	<body class="">
		<div class="flex flex-col items-center justify-between h-screen">
			<Navbar />
			<section class="container mx-auto px-4">
				<slot />
			</section>
			<Footer />
		</div>
	</body>
</html>
