---
const { title } = Astro.props
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/h-logo.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<script src="https://kit.fontawesome.com/ce5c00bedb.js" crossorigin="anonymous"></script>
<script defer src="/_vercel/insights/script.js"></script>
<title>{title}</title>